<p>Welcome back <%= Userinfo.find_by(user_id: session[:user_id]).first_name.capitalize %>! <%= link_to "Log out", session_path('current'), method: 'delete' %></p>

<p><%= link_to "Back", products_path%></p>

<h1>Add your product below:</h1>

<%= render 'shared/product_info' %>